.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 2em 0;

  width: 90%;
  margin: auto;

  transition: all 0.2s ease-in-out;

  z-index: 10;

  &.hide {
    top: -200px;
  }

  #theme {
    background: none;
    border: none;
    color: var(--maincolor);
    font-size: 1em;
    margin-left: 3rem;
    cursor: pointer;
  }

  .brand {
    font-weight: bold;
  }

  .btn_menu {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--maincolor);
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 2em 0;

    .btn_menu {
      display: block;
    }
  }
}
