// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

// variables
@import "./components/variables";

// mixins
@import "./components/mixins";

// general styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--maincolor);
  font-family: var(--mainfont);
  outline: none;
}

body {
  background: var(--mainbackground);
  overflow-x: hidden;
  font-size: 16px;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--mainbackground);
}

::-webkit-scrollbar-thumb {
  background: var(--maincolor);
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  height: max-content;
  width: 100%;

  overflow: hidden;
}
