.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .post {
    background: var(--mainbackground);
    border: 1px solid var(--secondarycolor);
    padding: 2em;

    width: 90%;
    margin: 0 auto;

    margin-top: 4em;

    .postHeader {
      .postTitle {
        font-size: 4em;
        cursor: pointer;
        color: var(--maincolor);
      }

      .date {
        font-weight: 400;
        font-size: 1.2em;
        color: var(--secondarycolor);
        margin: 1em 0;
      }

      .tags {
        margin: 1em 0;

        li {
          display: inline-block;

          &:not(:first-child) {
            margin: 0 1em;
          }
        }
      }
    }

    .postBody {
      margin: 2em 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .post {
      .postHeader {
        .postTitle {
          font-size: 2em;
        }
      }
    }
  }
}
